@media only screen and (max-width : 767px) {
	@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
	.account-body {display: none;}
	.bl-nav {display: none;}
	.hide-mob {display: none;}
	.mobile-account-body{ width:100%; display: block;}
	.mobile-account-body .mob-acc-child-img-background{width:100%; position:relative; 
		height: 26vh}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-img-gradient-background{position: absolute; 
		width: 100%; height: 100%; background:rgba(0,0,0,0.5); top:0;}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-child-img-box{ position: absolute;width:100px; 
		height: 100px; bottom: 36px;left: 10px;}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-child-img-box img{width: 100%; height: 100%; 
		filter: brightness(115%); }
	.mobile-account-body .mob-acc-child-img-background .mob-about{position: absolute;right: 0px; top:32px; 
		width: calc( 100% - 120px); padding-left: 5px;}
	.mobile-account-body .mob-acc-child-img-background .mob-about h3{color:#00D99F;font-size: 16px;font-weight:700;
		padding-left:5px; padding-bottom: 5px;font-style: italic;}
	.mobile-account-body .mob-acc-child-img-background .mob-about p{color: #fff; font-size: 14px; line-height:16px;
		padding-right: 5px;}
	.mobile-account-body .mob-name{}
	.mobile-account-body .mob-name h1{ text-align: center; text-transform: capitalize; font-size: 43px; 
		font-weight:900; font-family: 'Ubuntu', sans-serif;	 }
	.mobile-account-body .mob-acc-details{}
	.mobile-account-body .mob-acc-details .mob-acc-details-border{border-right: 1px solid #000;}
	.mobile-account-body .mob-acc-details .mob-acc-details-border:last-child{border-right: unset;}
	.mobile-account-body .mob-acc-details .mob-acc-details-border h2{text-align: center;font-size: 20px; 
		font-weight:700 }
	.mobile-account-body .mob-acc-details .mob-acc-details-border p{text-align: center}
	.mobile-account-body .mob-edit-btn{margin-left: 50%;transform: translateX(-20%);}
	.mobile-account-body .mob-edit-btn button{background: transparent;border:1px solid #00D99F;
		padding: 5px; color: #00D99F;}
	/** header **/
	header{box-shadow:unset;}
	.bl-header{padding-top: 2.5vh; margin-bottom: 0}
	.bl-header-search{display: none;}
	.hd-menu{display: block;  width: 32px; height:70px;}
	.hd-menu img{ width: 100%; }
	.bl-header .main-menu{display: none}
	.bl-header-logo h2{font-size: 1.5em;}
	.dark-header .dark-header-add-post{right: 130px;}
	.dark-header .dark-header-profile{right: 50px;}
	.dropdown-menu{min-width: 6rem; font-size: 0.6rem;}
	.dark-header .dark-header-profile .profile-btn{font-size: 14px;}

	/** Menu Screen **/
	.mobile-menu-screen{position: absolute; width:100%; height:100vh; background-color: #E8E8E8;z-index: 2000;
		display:none;}
	.mobile-menu-screen .mob-nav-bar-list{ list-style: none; position: absolute;left:50px;top:28px; }
	.mobile-menu-screen .mob-nav-bar-list li{font-size:22px;}
	.mobile-menu-screen .mob-nav-bar-list li a{color:#000;}
	.mobile-menu-screen .mob-nav-bar-extra-list{ list-style: none; position: absolute; right:50px; top:28px; 
		border-left:1px solid #d1d1d1; padding-left: 38px}
	.mobile-menu-screen .mob-nav-bar-extra-list li{ font-size: 22px; }
	.mobile-menu-screen .mob-nav-bar-extra-list li a{color:#000;}

	/** about page **/
	.abt-header h1{font-size:40px; line-height: 45px;}
	.abt-content{padding: 2px 30px;}
	.abt-content p{font-size:15px;}
	.abt-content p::first-letter{font-size:300%;}

	/** front page **/
	.left-layout .blog-card{width: 100%;height: 560px;border-radius: 7px; box-shadow: 8px 5px 10px rgba(0,0,0,0.3);}
	.left-layout .blog-card .blog-card-body .blog-details{top: 290px;width: 90%;}
	.left-layout .blog-card .blog-card-body .blog-img{width: 90%;height: 200px;}
	.left-layout .blog-card .blog-card-footer{margin-top: 33px;}
	.left-layout .blog-card .blog-card-body .blog-img img{border-radius: 7px;}
	.left-layout .blog-card:hover{transform: unset;}

	/** author page **/

	.author-bio .author-img{display: none;}
	.mobile-author-img{display: block; width: 100%; height: 300px;}
	.mobile-author-img img{width: 100%; height: 100%;}
	.author-bio .author-desc .author-title{margin-top: 10px;}
	.author-bio .author-desc .author-follow p{margin-left: 50%; transform: translateX(-50%);}
	.author-bio .author-desc .author-follow p{padding: 6px 23px;}
	.author-bio .author-desc .author-followers{width: 90%;}
	.bl-header-images-date{bottom:15%;}
	.bl-header-images-content .sarasij-p{font-size: 1.5em}

	/** Taxoonomy blog category page **/
	.tax-parent .tax-container{top:15px;}
	.tax-parent .tax-container h1{font-size: 55px;}
	.space-custom-tax{height: 1360px;}
	.tax-parent .tax-container .pop-tax-box:hover{transform: unset;box-shadow: none;}

	/** Single  page **/
	.bl-main-content-row{margin-left: 0px; margin-right: 0px;}
	.bl-main-content-row{padding-left: 0px; padding-right: 0px;}
	.bl-post-image img{height: 250px;}
	.bl-post-content-header-content{font-size: 9px;line-height: 20px;}
	.bl-post-content-header-title h2 a{font-size: 35px; line-height: 42px;}

	/** search  **/
	.dark-header .dark-header-search{display: none}
	.mobile-search{display: block}
	.mobile-search img{height: 30px ; }
	.mobile-search .mobile-search-img-close{display: none}
	.mobile-search-screen{position: absolute; width:100%; height:10vh; background-color: transparent;z-index: 2000;
		display:none; top: 104px; left:5px;}

	.mobile-search-screen form{border:none;}
	.mobile-search-screen label{}
	.mobile-search-screen label img{height: 24px; margin-left: 7px;}
	.mobile-search-screen form [type=text]{ border:1px solid #fff; background: transparent;border-radius:20px; width:320px;
		padding: 3px 20px; height: 30px; color: #fff}
	.mobile-search-screen form [type=text]:focus{outline:none;}
	.mobile-search-screen form [type=text]::placeholder{color: #fff;}
	.mobile-search-screen form [type=submit]{background: none; border:1px solid #fff; display: none;}
	.mobile-search-screen form [type=submit]:focus{border:none;}
}