@media only screen and (max-width : 767px) {
	@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
	.account-body {display: none;}
	.bl-nav {display: none;}
	.hide-mob {display: none;}
	.mobile-account-body{ width:100%; display: block;}
	.mobile-account-body .mob-acc-child-img-background{width:100%; position:relative; 
		height: 26vh}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-img-gradient-background{position: absolute; 
		width: 100%; height: 100%; background:rgba(0,0,0,0.5); top:0;}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-child-img-box{ position: absolute;width:100px; 
		height: 100px; bottom: 36px;left: 10px;}
	.mobile-account-body .mob-acc-child-img-background .mob-acc-child-img-box img{width: 100%; height: 100%; 
		filter: brightness(115%); }
	.mobile-account-body .mob-acc-child-img-background .mob-about{position: absolute;right: 0px; top:32px; 
		width: calc( 100% - 120px); padding-left: 5px;}
	.mobile-account-body .mob-acc-child-img-background .mob-about h3{color:#00D99F;font-size: 16px;font-weight:700;
		padding-left:5px; padding-bottom: 5px;font-style: italic;}
	.mobile-account-body .mob-acc-child-img-background .mob-about p{color: #fff; font-size: 14px; line-height:16px;
		padding-right: 5px;}
	.mobile-account-body .mob-name{}
	.mobile-account-body .mob-name h1{ text-align: center; text-transform: capitalize; font-size: 43px; 
		font-weight:900; font-family: 'Ubuntu', sans-serif;	 }
	.mobile-account-body .mob-acc-details{}
	.mobile-account-body .mob-acc-details .mob-acc-details-border{border-right: 1px solid #000;}
	.mobile-account-body .mob-acc-details .mob-acc-details-border:last-child{border-right: unset;}
	.mobile-account-body .mob-acc-details .mob-acc-details-border h2{text-align: center;font-size: 20px; 
		font-weight:700 }
	.mobile-account-body .mob-acc-details .mob-acc-details-border p{text-align: center}
	.mobile-account-body .mob-edit-btn{margin-left: 50%;transform: translateX(-20%);}
	.mobile-account-body .mob-edit-btn button{background: transparent;border:1px solid #00D99F;
		padding: 5px; color: #00D99F;}
	/** header **/
	header{box-shadow:unset;}
	.bl-header-search{display: none;}
	.hd-menu{display: block; position: absolute; right:21px; top:-22px; width: 32px; height:70px;}
	.hd-menu img{ width: 100%; height: 100% }

	/** Menu Screen **/
	.mobile-menu-screen{position: absolute; width:100%; height:100vh; background-color: #E8E8E8;z-index: 2000;
		display:none;}
	.mobile-menu-screen .mob-nav-bar-list{ list-style: none; position: absolute;left:50px;top:28px; }
	.mobile-menu-screen .mob-nav-bar-list li{font-size:22px;}
	.mobile-menu-screen .mob-nav-bar-list li a{color:#000;}
	.mobile-menu-screen .mob-nav-bar-extra-list{ list-style: none; position: absolute; right:50px; top:28px; 
		border-left:1px solid #d1d1d1; padding-left: 38px}
	.mobile-menu-screen .mob-nav-bar-extra-list li{ font-size: 22px; }
	.mobile-menu-screen .mob-nav-bar-extra-list li a{color:#000;}

	/** about page **/
	.abt-header h1{font-size:40px; line-height: 45px;}
	.abt-content{padding: 2px 30px;}
	.abt-content p{font-size:15px;}
	.abt-content p::first-letter{font-size:300%;}

	/** front page **/
	.front-page-banner .banner-parent .banner-post{height: 85vh;}
	.front-page-banner .banner-parent .banner-post .carousel-ws-banner .carousel-inner-banner .carousel-item-banner 
	.banner-content h1{width: 90%; font-size: 30px;margin-top: 68px;margin-bottom: 15px;}
	.front-page-banner .banner-parent .banner-post .carousel-ws-banner .carousel-inner-banner .carousel-item-banner 
	.banner-content h3{font-size: 18px;}
	.front-page-banner .banner-parent .banner-post .carousel-ws-banner .carousel-inner-banner .carousel-item-banner 
	.banner-content h2{margin-top: 10px;}
	.front-page-banner .banner-parent .banner-post .carousel-ws-banner .carousel-inner-banner .carousel-item-banner 
	.banner-content p{width: 60%; margin-bottom: 45px;}
	.front-page-banner .banner-parent .banner-level{height: 10.7vh}
	.front-page-banner .banner-parent .banner-level .banner-level-img{height: 78px; width: 80px;}
}