
.space20{width:100%; height:20px;}
.space30{width:100%; height:30px;}
.space40{width:100%; height:40px;}
.space50{width:100%; height:50px;}
.space60{width:100%; height:60px;}
.space70{width:100%; height:70px;}
.space80{width:100%; height:80px;}
.gold{ background:-moz-linear-gradient(-72deg,#ffde45,#ffffff 16%,#ffde45 21%,#ffffff 24%,#452100 27%,
    #ffde45 36%,#ffffff 45%,#ffffff 60%,#ffde45 72%,#ffffff 80%,#ffde45 84%,#452100);
 	background:-webkit-linear-gradient(-72deg,#ffde45,#ffffff 16%,#ffde45 21%,#ffffff 24%,#452100 27%,#ffde45 36%,#ffffff 45%,
    #ffffff 60%,#ffde45 72%,#ffffff 80%,#ffde45 84%,#452100);background:-o-linear-gradient(-72deg,#ffde45,#ffffff 16%,#ffde45 21%,
    #ffffff 24%,#452100 27%,#ffde45 36%,#ffffff 45%,#ffffff 60%,#ffde45 72%,#ffffff 80%,#ffde45 84%,#452100);background:
  	linear-gradient(-72deg,#ffde45,#ffffff 16%,#ffde45 21%,#ffffff 24%,#452100 27%,#ffde45 36%,#ffffff 45%,#ffffff 60%,#ffde45 72%,
    #ffffff 80%,#ffde45 84%,#452100);}
.silver{background:linear-gradient(-72deg,#dedede,#ffffff 16%,#dedede 21%,#ffffff 24%,#454545 27%,#dedede 36%,
 	#ffffff 45%,#ffffff 60%,#dedede 72%,#ffffff 80%,#dedede 84%,#a1a1a1);}
.bronze{ background:linear-gradient(-72deg,#ca7345,#ffdeca 16%,#ca7345 21%,#ffdeca 24%,#a14521 27%,#ca7345 36%,
    #ffdeca 45%,#ffdeca 60%,#ca7345 72%,#ffdeca 80%,#ca7345 84%,#732100);}

/** 
before #00D99F 
saikat #01203D
babu trial: medium 1 -> #B5D43B;;
sohini : #B3C951 & #4d1933;
**/
/*:root {
  --gold-color: #ffd700;
  --silver-color: #999999;
  --bronze-color: #cd7f32;
  --theme-color-dark: #739900;
  --theme-color-medium: #ffbdc7;
  --theme-color-light: #ffc4cd;
}*/
/** Header **/
.bl-header .main-menu{width: 23px; height: 40px;position: absolute;right: 7px;top: -23px; cursor: pointer; z-index: 2500;}
.bl-header .main-menu img{width: 100%; height: 100%;}
.bl-header .main-menu .main-menu-close{margin-top: -25px}

.bl-header .main-menu .main-menu-close{display: none}
.dark-header{height: 40px; background: var(--theme-color); width: 100%; position: fixed; z-index: 1000}
.dark-header .dark-header-logo{position: absolute;top: 5px;left: 10px;}
.dark-header .dark-header-logo img{width: 35px; height: 30px; }
.dark-header .dark-header-social{position: absolute;top: 9px;right: 25px;}
.dark-header .dark-header-social ul{}
.dark-header .dark-header-social ul li{display: inline; margin-right: 10px;}
.dark-header .dark-header-social ul li a{color: #000}
.dark-header .dark-header-social ul li a:hover{color: red}
.dark-header .dark-header-search{position: absolute;left:200px;top:4px;}
 /** search form **/
 .mobile-search-screen{display: none;}
.dark-header .dark-header-search form{border:none;}
.dark-header .dark-header-search label{border:none; margin-left: 5px;}
.dark-header .dark-header-search label img{height: 20px; height: 20px;}
.dark-header .dark-header-search form [type=text]{ border:1px solid #fff; background: transparent;border-radius:20px; width:350px;
	padding: 3px 20px; height: 30px; color: #fff}
.dark-header .dark-header-search form [type=text]:focus{outline:none;}
.dark-header .dark-header-search form [type=text]::placeholder{color: #fff;}
.dark-header .dark-header-search form [type=submit]{background: none; border:1px solid #fff; display: none;}
.dark-header .dark-header-search form [type=submit]:focus{border:none;}
.dark-header .dark-header-profile{position: absolute;right: 0; top: 6px; }
.dark-header .dark-header-profile .profile-btn{color: #fff; text-decoration: none; text-transform: capitalize;}
.dark-header .dark-header-profile .profile-btn span{ width: 25px; height: 25px; margin-right: 10px; }
.dark-header .dark-header-profile .profile-btn span img{width: 20px; height: 20px; border-radius:50%;}
.dark-header .dark-header-profile-login{position: absolute;right: 140px; top: 3px;}
.dark-header .dark-header-profile-login .login{color: #fff; margin-right: 30px; border:1px solid #fff; padding: 2px 8px; 
	border-radius: 5px; text-decoration: none;}
.dark-header .dark-header-profile-login .login:hover{ color: var(--theme-color); border:1px solid var(--theme-color); }
.dropdown-menu.show{background: #222222}
.dropdown-menu a{color: #fff; ;}
.dark-header .dark-header-add-post{position: absolute; top: 6px;right: 228px;}
.dark-header .dark-header-add-post p{color: #fff; border:1px solid #D1D1D1; padding:2px 8px; width: 100px;border-radius: 5px;
	cursor: pointer;font-size: 14px; text-align: center;}
.dark-header .dark-head-ws-font{position: absolute;left: 640px; top: 7px;}
.dark-header .dark-head-ws-font a{color: var(--font-head-color)}
.dark-header .dark-head-ws-font a:hover{color: var(--font-head-color); text-decoration: none;}
.dark-header .dark-head-ws-font a>p{color: var(--font-head-color)}
.ajax-req-like{position: fixed;width: 400px; height: 300px; top: 50%;left: 50%; background: #fff;z-index:10000;
	transform: translateY(-50%) translateX(-50%); display: none;}
.ajax-req-like img{width: 100%; height: 100%}

/** Main Menu Screen **/

.main-menu-screen{position: absolute; width:100%; height:100vh; background-color: #E8E8E8;z-index: 2000;
		display: none; top: 0}
.main-menu-screen .main-menu-column-column{position: relative; height: calc(100vh - 40px);  }
.main-menu-screen .main-menu-column-column h2{ text-align: left; font-weight: 700; font-size: 25px; color: var(--theme-color); 
	text-transform:uppercase;  }
.main-menu-screen .main-menu-column-column ul{list-style: none; position: absolute;top:50px;}
.main-menu-screen .main-menu-column-column ul li{font-style: italic; margin-bottom: 10px;}
.main-menu-screen .main-menu-column-column ul li:last-child{ margin-bottom: 0px;}
.main-menu-screen .main-menu-column-column ul li a{color: #000;}
.main-menu-screen .menu-footer{position: absolute;bottom: 0; width: 100%; height: 40px; background-color: #000}

/** media uploader **/

.attachments-browser .media-toolbar-secondary{display: none;}
.media-modal-close{right:10px; width:100px;}
.mobile-menu-screen{display:none;}
/** media uploader **/
.hd-menu{display:none;}


/** footer **/
footer{width:100%; height:auto; background-color: #4D6900;}
.foot{}
.foot .bl-footer-logo{ }
.foot .bl-footer-logo h2{font-family: 'Jomolhari', serif;font-weight: 400; font-size: 28px;letter-spacing: 6px;
text-transform: uppercase;}
.foot .bl-footer-logo h2 a{color:#000; text-decoration: none;}
.ft-content{padding-left: 10px}
.ft-content p{text-align: justify; font-size:14px; color:#fff; line-height: 18px}
.foot .menus{}
.foot .menus h2{font-size: 18px; text-transform: uppercase; border-bottom: 1px solid var(--font-head-color);width: 90%;
	font-weight: 700;margin-left: 30px;color: var(--font-head-color)}
.foot .menus ul{list-style: none; margin-left: 14px; width:90%;}
.foot .menus ul li{font-size: 14px; padding:3px 4px; border-bottom: 1px solid rgba(0,0,0,0.2)}
.foot .menus ul li a{color: #D1D1D1}
.foot .menus ul li a:hover{color: #fff; text-decoration: none;}
.foot .pop-post{}
.foot .pop-post a{color: #D1D1D1}
.foot .pop-post a:hover{color: #fff}
.foot .pop-post h2{font-size: 18px; text-transform: uppercase; border-bottom: 1px solid var(--font-head-color);width: 90%;
	font-weight: 700;margin-left: 30px;color: var(--font-head-color)}
.foot .pop-post .ul{ width: 100%; height: 30px; }
.foot .pop-post .ul .li{  position: relative; }
.foot .pop-post .ul .li img{  position: absolute;top: 0; left: 0; height:41px; ; width: 28%}
.foot .pop-post .ul .li h3{position: absolute;top: 0; right: 0; font-size: 14px; line-height: 16px;width: 65%}
.foot .img{}
.foot .img h2{font-size: 18px; text-transform: uppercase; border-bottom: 1px solid var(--font-head-color);width: 90%;
	font-weight: 700;margin-left: 30px;color: var(--font-head-color)}
.final-footer{width:100%; height:60px; background-color: #101010; color: #D1D1D1;}
.final-footer .left-final-footer{}
.final-footer .left-final-footer h3{}
.final-footer .middle-final-footer{}
.final-footer .middle-final-footer h3{}
.final-footer .right-final-footer{}
.final-footer .right-final-footer h3{}

/** post Page design **/

.my-post-page{ width:100%; margin: 0; padding:0; background: #000; height:auto; }
.my-post-page .my-post-page-container{ background: #C1B7AE; height: auto }
.my-post-page .sk-content{width:80%;position: relative; margin-left: 10%; margin-bottom: 50px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);}
.my-post-page .sk-content .sk-topic{height:200px;width:100%;overflow:hidden; }
.my-post-page .sk-content .sk-topic img{width:100%}
.my-post-page .sk-content .sk-item{height:73px;width:125px;position:absolute;background:#fff;bottom:0;left:78px;
	z-index: 1000}
.my-post-page .sk-content .sk-item h4{font-weight:500;font-size:14px;text-align:center;color:#000; 
	padding: 8px 8px; line-height: 18px;}
.my-post-page .sk-content .bl-entry-content p{color:#2b2b2b;}
.my-post-page .sk-content .bl-entry-content p:first-child::first-letter{float: left;margin-right: 5px;
	font-size: 96px;line-height: 70px;color: #535353;font-weight: 600;}
.my-post-page .sk-content .sk-outer-border{ width:88%; border:5px solid #000; height: 90%; position: absolute;
	top:11px; left: 15px}
.my-post-page .sk-content .sk-inner-border{width:78%; border:3px solid #FFF9F3; height:78%; position: absolute;
top:23px; left:30px;}
.my-post-page .sk-content .sk-top-black-box{position: absolute; width:38%; height:6%; top:0; background:#000;
	left:84px;}
.my-post-page .sk-content .sk-right-black-box{position: absolute; width: 8%; height: 14%; background:#000;
top:85px; right: 20px}
.my-post-page .sk-content .sk-left-black-box{position: absolute; width: 21%; height: 9%; background:#000;
bottom:54px; left: 20px}



.sa-content{width: 80%; margin-left: 10%; margin-bottom: 20px;}	
.sa-content h2{text-align: center; margin-top: 10px;font-weight: 800; font-size: 40px;letter-spacing: 2px;
	color:#000; text-transform: capitalize; }	
.sa-content h5{text-align: center; font-size: 30px; font-weight: 600; letter-spacing: 2px; color: #000}	
.sa-content p{text-align: center; margin-top: 20px; padding:10px; background-color: #227A6C; color:#fff; 
	margin-left:15%; margin-right: 15%; border-radius: 15px;cursor: pointer;}	



/**about  design **/


.about-article{line-height: 26px; color: #545454; font-size: 16px; margin-top: 20px; width: 100%;
	font-family: 'Playfair Display', serif;}
.fea-about-img{ width: auto;display: inline-block; width:100%; }
.fea-about-img img{width:100%;}
.abt-header{}
.abt-header h1{font-size: 45px; line-height: 54px; color: #585858; text-align: center;}
.abt-header h1{font-size: 45px; line-height: 54px; color: #585858; text-align: center;}
.abt-content{padding: 10px 90px}
.abt-content p{font-size:16px; text-align: justify}
.abt-content p::first-letter{font-size:400%; font-weight: 800}

/**blog Single  Page design **/
.bl-widget .rel-post{position: relative; width: 90%; height:100px; border-bottom: 1px solid #D1D1D1;}
.bl-widget .rel-post:last-child{border:none;}
.bl-widget .rel-post a{color: #000; }
.bl-widget .rel-post a:hover{color: var(--theme-color); }
.bl-widget .rel-post .rel-post-img{position: absolute;height: 60px; width:70px; left: 3px; top: 20px;}
.bl-widget .rel-post .rel-post-img img{width:100%; height: 100%}
.bl-widget .rel-post .rel-post-header{position: absolute; top: 22px; left:100px;}
.bl-widget .rel-post .rel-post-header h5{color: var(--font-head-color);}
.bl-widget .rel-post .rel-post-content{position: absolute;left: 100px; bottom:25px; width:70%; }
.bl-widget .rel-post .rel-post-content h2{text-align: left;}
.blog-edit p{text-align: center; border:1px solid var(--theme-color); width: 70px; padding: 3px 8px;margin-top: 10px;
	cursor: pointer;}
.blog-edit p:hover{background: var(--theme-color); color: #fff}
.blog-delete{position: relative;}
.blog-delete p{text-align: center; border:1px solid var(--theme-color); width: 70px; padding: 3px 8px;margin-top: 10px;
	cursor: pointer;position: absolute;right: 35px; color: red;}
.blog-delete p:hover{background: var(--theme-color); color: #fff}

.share-single{}
.share-single h2{font-size: 17px; font-weight: 700; border-top:1px solid #000; padding-top: 10px;}
.share-single ul{list-style: none;}
.share-single ul li{display: inline; margin-right: 20px;}
.share-single ul li:last-child{ margin-right: 0px;}
.share-single ul li a{font-size: 40px;}
.share-single ul li a:hover{text-decoration: none;}

	/** Front page **/
.front-page-background{width:100%; font-family: 'Work Sans', sans-serif; padding-top: 0px;}
.left-layout{ width: 100%;  }
.left-layout .blog-card{width: 100%; height: 320px; background:#fff; margin: 40px auto;box-shadow: 8px 5px 10px rgba(0,0,0,0.3);
	border-radius: 10px;}
.left-layout .blog-card .left-blog-card{width: 120% ;height: 320px; position: relative;}
.left-layout .blog-card .left-blog-card p{position: absolute;right: -25px; top: 15px; background: var(--theme-color); color:#fff; 
	padding: 6px 8px;border-radius: 20px;font-size: 11px;}
.left-layout .blog-card .left-blog-card img{width: 120% ;height: 320px; transition: 400ms all; border-radius: 5px;}
.left-layout .blog-card .left-blog-card img:hover{box-shadow: 8px 5px 10px rgba(0,0,0,0.3);transform: scale(1.05);}
.left-layout .blog-card .right-blog-card{position: relative;;}
.left-layout .blog-card .right-blog-card .blog-card-header{width: 100%; height: 60px;position: relative;}
.left-layout .blog-card .right-blog-card .blog-card-header .blog-card-author{position: absolute;top:15px;right: 15px;}
.left-layout .blog-card .right-blog-card .blog-card-header .blog-card-author img{width: 30px; height: 30px; border-radius: 50%;}
.left-layout .blog-card .right-blog-card .blog-card-header .blog-card-author span{margin-left: 7px;text-transform: capitalize; 
	font-weight: 700;}
.left-layout .blog-card .right-blog-card .blog-card-header .blog-card-author span a{color:var(--theme-color);
	 text-decoration: none;}
.left-layout .blog-card .right-blog-card .blog-card-title{position: absolute;top:60px;width: 70%;margin-left: 50%;
	transform: translateX(-50%);}
.left-layout .blog-card .right-blog-card .blog-card-title h3{text-align: center;font-size: 23px; font-weight: 700; 
	color: var(--font-head-color); line-height: 25px;}
.left-layout .blog-card .right-blog-card .blog-card-title p{text-align: justify;font-size: 15px;line-height: 18px; 
	padding-top: 5px;}
.left-layout .blog-card .right-blog-card .credential{width: 100%; height: 40px; position: absolute; bottom: 65px;left: 41%;
	transform: translateX(-30px);}
.left-layout .blog-card .right-blog-card .credential span{font-size: 20px; color: var(--font-head-color)}
.left-layout .blog-card .right-blog-card .credential span:first-child{margin-right: 16px;}
.left-layout .blog-card .right-blog-card .credential span:last-child{margin-left: 16px;}
.left-layout .blog-card .right-blog-card .credential span i{}
.left-layout .blog-card .right-blog-card .rd-more{position: absolute;bottom: 10px; width: 50%; margin-left: 50%; 
	transform: translateX(-50%); }
.left-layout .blog-card .right-blog-card .share{ position: absolute;width: 30%; height: 7vh; bottom: 36px; 
	background: #fff;right: 37px;z-index:2000; box-shadow: 10px 5px 10px rgba(0,0,0,0.3); display: none}
.left-layout .blog-card .right-blog-card .share ul{list-style: none; margin-left: 17px; margin-top: 2px;}
.left-layout .blog-card .right-blog-card .share ul li{display: inline; margin-left: 10px;margin-top: 20px;}
.left-layout .blog-card .right-blog-card .share ul li a{font-size: 26px;}
.left-layout .blog-card .right-blog-card .share ul li a i{}
.left-layout .blog-card .right-blog-card .rd-more p{background: var(--theme-color); color:#000; font-size: 18px; padding: 10px 12px;
	border-radius: 20px; text-align: center;}
.left-layout .blog-card .full-card{ width: 100%; height: 320px; position: relative;  }
.left-layout .blog-card .full-card .blog-card-header{width: 100%; height: 60px;position: relative;}
.left-layout .blog-card .full-card .blog-card-header .blog-card-author{position: absolute;top:15px;right: 15px;}
.left-layout .blog-card .full-card .blog-card-header .blog-card-author img{width: 30px; height: 30px; border-radius: 50%;}
.left-layout .blog-card .full-card .blog-card-header p{background: var(--theme-color); color:#fff; 
	padding: 6px 8px;border-radius: 20px;font-size: 11px;position: absolute;left: 15px;top: 15px;}
.left-layout .blog-card .full-card .blog-card-header .blog-card-author span{margin-left: 7px;text-transform: capitalize; 
	font-weight: 700;}
.left-layout .blog-card .full-card .blog-card-header .blog-card-author span a{color:var(--theme-color);
	 text-decoration: none;}


.left-layout .blog-card .full-card .blog-card-title{position: absolute;top:60px;width: 70%;margin-left: 50%;
	transform: translateX(-50%);}
.left-layout .blog-card .full-card .blog-card-title h3{text-align: center;font-size: 23px; font-weight: 700; 
	color: var(--font-head-color); line-height: 25px;}
.left-layout .blog-card .full-card .blog-card-title p{text-align: justify;font-size: 15px;line-height: 18px; 
	padding-top: 5px;}
.left-layout .blog-card .full-card .credential{width: 100%; height: 40px; position: absolute; bottom: 65px;left: 46%;
	transform: translateX(-30px);}
.left-layout .blog-card .full-card .credential span{font-size: 20px; color: var(--font-head-color)}
.left-layout .blog-card .full-card .credential span:first-child{margin-right: 16px; }
.left-layout .blog-card .full-card .credential span:last-child{margin-left: 16px; }
.left-layout .blog-card .full-card .credential span i{}
.left-layout .blog-card .full-card .share{position: absolute;width: 15%; height: 7vh; bottom: 36px; 
	background: #fff;right: 220px;z-index:2000; box-shadow: 10px 5px 10px rgba(0,0,0,0.3); display: none;}
.left-layout .blog-card .full-card .share ul{list-style: none; margin-left: 17px; margin-top: 2px;}	
.left-layout .blog-card .full-card .share ul li{display: inline; margin-left: 10px;margin-top: 20px;}	
.left-layout .blog-card .full-card .share ul li a{font-size: 26px;}	
.left-layout .blog-card .full-card .rd-more{position: absolute;bottom: 10px; width: 50%; margin-left: 50%; 
	transform: translateX(-50%); }
.left-layout .blog-card .full-card .rd-more p{background: var(--theme-color); color:#000; font-size: 18px; padding: 10px 12px;
	border-radius: 20px; text-align: center;}

.load-more-button-div{margin-left: 50%; transform: translateX(-50%);}
.load-more-button-div .load-more-btn{}
.load-more-button-div .load-more-btn .load-more-btn-btn{margin-left: 35%; border:1px solid var(--theme-color); font-size: 20px;
	color: var(--theme-color);background:transparent; padding:5px 8px;}
.load-more-button-div .load-more-btn .load-more-btn-btn:hover{background: var(--theme-color), color: var(--font-head-color);}
.load-more-button-div .load-more-btn .loading{width: 200px; height: 100px; margin-left: 20%;display: none}
.load-more-button-div .load-more-btn .loading img{width: 100%; height: 80%}
.loadnewpost{}
.loadnewpost .new-post{}
.loadnewpost .new-post h3{font-size: 28px; font-weight: 700; margin-bottom: 20px; padding: 7px 10px;background: #D1D1D1}

.auth-name-fire{font-size: 20px; font-weight: 700; text-transform: uppercase; font-style: none; padding-top: 20px;}






/** Author page **/
.author-full-page{width: 100%; background: #7A8790}
.author-bio{width: 90%; background: #fff; margin-left: 50%; transform: translateX(-50%); }
.author-bio .author-desc{width: 80%; margin-left: 50%; transform: translateX(-50%);}
.author-bio .author-desc .author-title{}
.author-bio .author-desc .author-title h3{font-size: 48px; font-weight: 800; text-transform: uppercase;}
.author-bio .author-desc .author-biography{margin-top: 20px;}
.author-bio .author-desc .author-biography p{font-weight: 500; font-size: 16px; line-height: 21px;}
.author-bio .author-desc .author-follow{margin-top: 15px;}
.author-bio .author-desc .author-follow p{font-size: 15px; font-weight: 800; padding: 11px 28px; border:1px solid #000; 
	width:fit-content; border-radius: 3px;cursor: pointer; }
.author-bio .author-desc .author-follow p:hover{background:var(--theme-color); color: #fff}
.author-bio .author-desc .author-followers{width: 71%; margin-left: 50%; transform: translateX(-50%);}
.author-bio .author-desc .author-followers .followers{float: left; border-right: 1px solid var(--theme-color);
	padding-right: 20px; margin-left: 20px;}
.author-bio .author-desc .author-followers .followers h5{font-size: 16px; font-weight: 400; text-transform: uppercase;}
.author-bio .author-desc .author-followers .followers p{text-align: center; font-weight: 900; font-size: 18px; margin-top: 2px;}
.author-bio .author-desc .author-followers .followering{float: left; padding-left: 20px;}
.author-bio .author-desc .author-followers .followering h5{font-size: 16px; font-weight: 400; text-transform: uppercase;}
.author-bio .author-desc .author-followers .followering p{text-align: center;font-weight: 900; font-size: 18px; margin-top: 2px;}
.author-bio .author-img{width: 95%; height: 460px;float: right;position: relative;}
.author-bio .author-img img{width: 100%; height: 100%;filter: brightness(90%);}
.mobile-author-img{display: none;}
.author-blogs{width: 90%; background: #fff; margin-left: 50%; transform: translateX(-50%);}
.author-blogs h1{padding-top: 50px; margin-left: 7%; text-transform: uppercase;font-size: 26px; padding-bottom: 10px;}
.author-blogs h1 span{ font-weight: 800; color: var(--theme-color) }
.author-blogs .underline{border-top: 4px solid var(--theme-color); width:105px; margin-left: 7%; margin-bottom: 20px;}
.bl-header-images-content .sarasij-p{font-size: .97em}



/** Taxoonomy blog category page **/
.space-custom-tax{width: 100%; height: 200px;}
.tax-parent{width: 100%; height: auto;background: #000; position: relative; margin-top: -45px;}
.tax-parent .tax-parent-img{width: 100%; height: 75vh; }
.tax-parent .tax-parent-img:after{width: 100%; height: 75vh;background: rgba(0,0,0,0.3);content: ""; position: absolute;
	top: 0;left: 0 }
.tax-parent .tax-parent-img img{width: 100%; height: 100%; -webkit-filter: blur(5px);filter: blur(5px);}
.tax-parent .tax-container{width: 90%; height: auto; background: transparent; position: absolute;top: 70px;margin-left: 50%; 
	transform: translateX(-50%);}
.tax-parent .tax-container a{text-decoration: none; color: #000}
.tax-parent .tax-container h1{font-size: 115px;text-transform: uppercase;font-weight: 900; color: #fff; text-align: center;
	 -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 3px;-webkit-text-stroke-color: #fff;}
.tax-parent .tax-container .pop-tax-box{width:99%; height: 410px; background: #fff; transition: all 0.3s; margin: 0 auto;}
.tax-parent .tax-container .pop-tax-box:hover{transform: scale(1.1);box-shadow: 2px 5px 10px rgba(0,0,0,0.3);}
.tax-parent .tax-container .pop-tax-box .pop-auth-img{width: 70px; height: 70px; position: absolute;top:13px;left: 30px; 
	border:4px solid #000; border-radius: 50%;transition: all 0.3s}
.tax-parent .tax-container .pop-tax-box .pop-auth-img img{width: 100%; height: 100%;border-radius:50%; padding: 5px;filter: 
	brightness(110%);}
.tax-parent .tax-container .pop-tax-box .tax-box-img{width: 100%;height: 60%;}
.tax-parent .tax-container .pop-tax-box .tax-box-img img{width: 100%; height: 100%;}
.tax-parent .tax-container .pop-tax-box .pop-tax-desc{padding: 15px;}
.tax-parent .tax-container .pop-tax-box .pop-tax-desc h3{display: block;font-size: 18px;font-weight: bold;padding-bottom: 0;
    margin-top: 0;margin-bottom: 10px;line-height: 140%;letter-spacing: 0;text-align: left;}
.tax-parent .tax-container .pop-tax-box .pop-tax-desc h5{font-weight: 400;font-size: 16px;display: block;margin-top: 3px;
    letter-spacing: 0;font-style: normal !important;color: #555;line-height: 130%;text-align: left;}
.tax-parent .tax-container .pop-tax-box .pop-tax-desc p{ border-top: 1px solid #f3f3f3;font-size: 14px;color: #6e6e6e;
	padding-top: 7px;font-weight: 400;margin: 0;letter-spacing: 0; text-transform: capitalize;}
.tax-parent .tax-container .pop-tax-box .pop-tax-desc p span{text-transform: lowercase;}




/**sports type attribute  design **/
.scorecard{}
.scorecard h1{font-size: 18px; text-align: center; padding-top: 20px;}
.scorecard h1 span{color: var(--font-head-color); font-weight: 700}
.scorecard h2{font-size: 25px; height: 60px;}
.scorecard h3{}
.scorecard p{text-align: center;margin-top: 2px;}
.squad-parent{margin-left: 15%; }
.squad{}
.squad ul{margin-left: 30%;transform: translateX(-30%);}
.squad h3{color: #000; text-align: left;}


/** Search Page **/
.mobile-search{display: none}
.no-content{width: 100%; height: 70vh;}
.no-content h3{text-align: center; margin-top: 5%; font-size: 104px; font-weight: 900}

/** Login  and Registration Page **/
.login-box{position: relative;width: 80%;height: 70vh; background:#fff; margin-bottom: 50px; margin-left: 50%;
	transform: translateX(-50%); box-shadow: 0px 5px 20px rgba(0,0,0,0.6);}
.login-box .left-box{position: absolute;left: 0; top: 0; background: var(--theme-color); width:40%; height: 100%}
.login-box .left-box .left-box-details{width: 70%; margin-left: 30px; margin-top: 37%}
.login-box .left-box .left-box-details h2{font-weight: 700; font-size: 25px; padding-bottom: 15px;}
.login-box .left-box .left-box-details p{font-size: 13px; line-height: 16px;}
.login-box .right-box{position: absolute;top: 0; left: 40%; width: 60%}
.login-box .right-box .right-box-details{width: 70%; margin-left: 20%; margin-top: 24%;}
.login-box .right-box .right-box-details .notice{margin-bottom:8px;}
.login-box .right-box .right-box-details .notice p{ padding: 5px 10px; border-left:5px solid red; font-size: 10px; width: 40%;
	margin-bottom: 10px; float: left;box-shadow: 0px 5px 20px rgba(0,0,0,0.6);margin-right: 10px; }
.login-box .right-box .right-box-details h2{font-size: 22px; color: var(--font-head-color); padding-bottom: 15px;}
.login-box .right-box .right-box-details form{}
.login-box .right-box .right-box-details form [type=text]{border:1px solid #C1CCDB; border-radius: 10px; margin-bottom: 15px;
	font-size: 14px; padding: 5px 0px 1px 10px; width: 80%}
.login-box .right-box .right-box-details form [type=text]:focus{outline:none;}
.login-box .right-box .right-box-details form [type=password]{border:1px solid #C1CCDB; border-radius: 10px; margin-bottom: 10px;
	font-size: 14px; padding: 5px 0px 1px 10px; width: 80%}
.login-box .right-box .right-box-details form [type=password]:focus{outline: none;}
.login-box .right-box .right-box-details form [type=submit]{ outline: none; border:none; width: 40%; margin-top: 10px;
	background: var(--theme-color); color: #fff; padding: 5px 8px; border-radius: 20px;  }
.login-box .right-box .right-box-details form [type=submit]:hover{background: #fff; color: var(--theme-color);}
.login-box .right-box .right-box-details form  .sign-up{ color:var(--font-head-color); border: 1px solid var(--font-head-color); 
	border-radius: 20px; padding: 5px 10%;  }
.login-box .right-box .right-box-details form .sign-up:hover{text-decoration: none; background: var(--font-head-color); color: #fff}
a .terms{padding: none; color: var(--font-head-color); border:none; }
.login-box .right-box .right-box-details form label{font-size: 14px;}
.login-box .right-box .right-box-details form label a{color: var(--font-head-color)}


/** sidebar **/
.sidebar-left{width:184px; height: 100vh; position: fixed; left:-184px ; top:100px; z-index: 2000; transition: 1s all; }
.sidebar-left:hover{left: 0;}
.sidebar-left:hover .arrow{margin-left: 134px}
.sidebar-left .arrow{width:50px; height: 50px; background: var(--theme-color);margin-left: 184px; transition: 1s all; }
.sidebar-left .arrow img{height: 60%; width: 60%; margin-left: 20%; margin-top: 20%;}
.sidebar-left p{width: 100%; text-align: center;padding: 20px 5px; background:var(--theme-color); color: #fff; margin-bottom: 2px;
	text-transform: uppercase; font-size: 12px;}
.sidebar-left a{text-decoration: none;}
.sidebar-right{width:140px; height: 100vh; position: fixed; right: 0; top:40px; background: transparent;}


/** Ad  **/
.pf-book-ad{width: 100%; height: 300px; background: #1D1D1D; position: relative;}
.pf-book-ad h2{ position: absolute;transform: rotate(-90deg); top:53px;right: 17px; background: #2F2F31; padding:20px 15px; 
	font-weight: 700; text-transform: uppercase; color: #fff;}
.pf-book-ad h2 span{color: #B87333}
.pf-book-ad h3{position: absolute; left:50%;transform: translateX(-50%); bottom: 20px; border:1px solid #B87333; color: #B87333;
	padding: 8px 12px}
.pf-book-ad p{position: absolute; color: #959991; font-size: 10px;line-height: 12px;width:50%; padding: 2px 25px; top: 57px;}
.pf-book-ad p span{ color: #B87333;}